
<div class="container">
<h2><%= @question %></h2>
<p>-You</p>
</div>

<div class="container answer">
<h2><%= @answer %></h2>
<p>-Your coach</p>
</div>

</div>
<div>
<p><a href="/ask">ask a new question</a></p>
</div>